@font-face {
    font-family: "Poppines";
    src: url("./Fonts/Poppins/Poppins-Regular.ttf");
}

body{
        font-family: "Poppines";
}

.output-box-wrapper{
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-message{
    align-self: flex-end;
    left: 50%;
    width: 50%;
    height: auto;
    border:1px solid rgb(96, 94, 94); ;
    font-family: "Poppines";
    border-radius: 10px;
    font-size: 10px;
    padding: 2px;
}

.user-message:disabled{
    opacity: 0px
}

.ai-message{
    padding: 2px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 200px;
    border:1px solid rgb(96, 94, 94); ;
    font-family: "Poppines";
    overflow-y: auto;
    max-height: 100%;
    font-size: 10px;
}
.ai-message:disabled{
    opacity: 0px;
}

.input-wrapper{
    height: 100px;
    width: 95%;
    border: 1px solid rgb(96, 94, 94);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 8px;
}

.text-wrapper{
    background-color: rgb(251, 251, 251);
    height: 60%;
    overflow: hidden;
}

#text-box{
    border: none;
    margin-top: 5px;
    margin-left: 8px;
    width: 80%;
    height:50%;
    outline: none;
    font-family: "Poppines";
    font-size: medium;
}

.send-wrapper{
    display: flex;
    justify-content:space-between;
}

#send-btn{
    background-color: black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    cursor: pointer;
    
}

#send-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.6;
}

#send-btn:hover{
    background-color: rgb(62, 62, 62);
}

#clear-btn{
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#clear-btn:hover{
    background-color: rgb(198, 198, 198);
}